.wrapperItem {
  height: var(--gap-56);
  width: 100%;
  display: flex;
  gap: var(--gap-12);
  align-items: center;
  justify-content: flex-start;
  padding: var(--gap-8) var(--gap-20);
  background-color: var(--color-dark-base-bg-primary-inverted);
  transition: background-color 0.2s;
  border: none;
  &:hover {
    background-color: var(--button-inverted-primary-base-bg-color);
    cursor: pointer;
  }
}

.wrapperItemActive {
  composes: wrapperItem;
  color: var(--color-light-accent-primary);
  background-color: var(--color-red-brand-10-flat);
  &:hover {
    background-color: var(--color-red-brand-20-flat);
  }
}
