.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tableWrapper {
  padding: 0 var(--gap-24);
  height: 85%;
}

.pagination {
  bottom: 0;
  background-color: var(--color-dark-base-bg-primary-inverted);
}

.green-background {
  background: #dff8e5;
}

.orange-background {
  background: #ffefd9;
}

.red-background {
  background: #ffebeb;
}
