.header {
  width: 100%;
  height: var(--gap-72);
  background-color: var(--color-dark-base-bg-primary-inverted);
  z-index: var(--z-index-max);
  top:0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--action-button-secondary-hover-color);
}

.headerWrapper {
  margin:0 var(--gap-40) 0 var(--gap-20);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoWrapper{
  display: flex;
  height: 100%;
}