.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentWrapper {
  padding: 0 var(--gap-24);
}

.patientCardsWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 500px));
  grid-auto-rows: auto;
  gap: var(--gap-24);
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .patientCardsWrapper {
    grid-template-columns: 1fr;
  }
}
